// Colors
$bg-color: #121212;
$text-primary: #FFFFFF;
$text-secondary: #E0E0E0;
// per elementi che devono risultare particolarmente evidenti, come pulsanti di invio o interazioni primarie.
$accent-primary: #00E676;
//  per bottoni, link e icone interattive.
$accent-secondary: #00BCD4;